#navabar {
    background-color: lightgrey;
    text-indent: 10px;
    font-size: 14px;
}

#bodyDiv {       
    height: 800px;
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#homeh1 {
    color: aliceblue;
    position: relative;
    top: 30%;
    left: 50%;
    font-family: cursive;
}

h1 {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 2%;
}

h4 {
    color: white;
}

#newCustomer {
    width: 55%;
    text-align: center;
    position: relative;
    left: 23%;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 2%;
}